@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
:root {
  --primary-color: #7c59b0;
  --border-radius: 7px;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Karla, sans-serif;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235a2da1' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
h1 {
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
}
h1:hover {
    background: rgba(0, 0, 0, 0.8);
}
/* Bookmarks */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.item {
    background: rgba(22, 3, 3, 0.5);
 color:aliceblue;
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 10px;
  }
  .item:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
  }
  
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover,
  a:active {
    text-decoration: underline;
    font-weight: bolder;
  }
  .fa-times {
    float: right;
    cursor: pointer;
    z-index: 2;
  }
  .name {
    margin-top: 20px;
    margin-right: 20px;
  }
  .name img {
    height: 20px;
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
  }
  /* Media Query: Large Smartphone */

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    text-align: center;
    
  }
}
/* Modal */
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}