#app {
    display: flex;
}
#left, #right {
    flex-grow: 1;
    flex-basis: 0;
    border: 1px solid black;
}
#right {
    margin-right: 10px;
}
#title {
    border-bottom: 2px solid black;
    margin: 10px 0px;
    padding: 10px;
}
#content {
    margin: 10px 0px;
    padding: 10px;
}
.vest > img {
    width: 93px;
    height: auto;
    margin: 5px 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.vest > span {
    flex-grow: 1;
    padding: 10px;
}