
.first {
   z-index: 3;
   background: red;
}
.second {
    position: absolute;
    left: 0;
    z-index: -2;
    background: green;
}
div {
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
}