* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.white {
    color: white;
}

.full{
    width: 100%;
}

.container{
    width: 80%;
}

.blue {
    background-color: rgb(2, 42, 90);
}

.search {
    float: right;
    margin: 5px;
    padding: 5px;
    height: 1.4rem;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.header{
    display: inline-block;
    margin: auto;
    padding: 3px;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

a:hover { 
     text-decoration:none; 
     cursor:pointer;
     color:grey;
}

.showDiv {
    width: 30%;
    margin: 1.5%;
    display: inline-block;
    z-index: 5;
    cursor: pointer;

}

.showDiv img {
    width: 100%;
}

.showDiv p {
    color: black;
}

.footer {
    padding: 5px;
}

#showIMG {
    height: 450px;
    float: left ;
}

.imgtxt {
    margin: 20px 0;
}

.searchedShowsDiv {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.searchedShowsDiv p {
    color: black;
    padding: 1% 2%;
    text-decoration: none;
    display: block;
    margin-bottom: 0px;
}

.searchedShowsDiv p:hover {
    cursor: pointer;
}

.searchedShowsDiv p:nth-child(even){
    background-color: #e2e2e2;
}

