.users {
  margin: 2rem auto;
  width: 70%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
  width: 60%;
}

.users li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 60%;
}